body {
    background-color: #768699;
    font-family: Liberation Mono, monospace;
    padding: 1px;
    margin: auto;
    width: 75%;
}

h1 {
    color: #FCFDFF;
    text-align: center;
}

a {
    text-decoration: none;
}

input, textarea {
    background-color: #EDEDF2;
    border: none;
    color: black;
}

.link_button {
    display: inline-block;
    background: #EDEDF2;
    color: #6C788E;
    font-weight: bold;
}
