
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'list_app/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'list_app/index.css' %}"/>
    <meta charset="UTF-8">
    <title>Listings</title>
</head>

<body>
<div class="w3-container w3-display-container">
    <div class="w3-button w3-round-large w3-display-topright w3-margin link_button"><a href="{% url 'list_app:new' %}"
                                                                                       style="color: #6C788E">Post a new
        listing</a></div>

    <div class="w3-container w3-margin">
        <h1>Welcome to Listings!</h1>
    </div>


    <div class="w3-padding w3-margin">
        {% if latest_listings %}
        {% for listing in latest_listings %}
        <div class="w3-round-large w3-container w3-margin listing">
            <p><a href="/listings/{{ listing.id }}/">
                    {{ listing.title }}
            </a></p>
            <p>{{ listing.description|truncatechars:100 }}</p>
        </div>
        {% endfor %}
        {% else %}
        <div id="none_available">No listings are available.
            <a href="{% url 'list_app:new' %}">Post a new one?</a>
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>