<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>

    <link rel="stylesheet" type="text/css" href="{% static 'list_app/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'list_app/new.css' %}"/>
    <meta charset="UTF-8">
    <title>Post a new listing</title>
</head>
<body>

<div class="w3-container">
    <div class="w3-container">
        <h1>Post a new listing</h1>
    </div>

    <form class="w3-container w3-round-large w3-padding" id="box" action="{% url 'list_app:new' %}" method="post">
        {% csrf_token %}
        <label for="title" class="w3-margin">Title</label>
        <input class="w3-input w3-border-0" type="text" name="title" id="title" maxlength="20" required/>

        <label for="description" class="w3-margin">Description</label>
        <textarea class="w3-input w3-border-0" name="description" id="description" required></textarea>

        <label for="email" class="w3-margin">Email address</label>
        <input class="w3-input w3-border-0" type="email" name="creator email" id="email" required>

        <div style="text-align: center">
            <input class="w3-button w3-round-xlarge w3-border-0 w3-margin link_button" type="submit" value="Submit">
            <div class="w3-container w3-button w3-round-xlarge w3-padding link_button">
                <a href="{% url 'list_app:index' %}">Back to main page</a>
            </div>
        </div>
    </form>

    {% if posted %}
    <p>
        Your listing was successfully posted.
        Check your email for the link to edit your listing.
        <a href="{% url 'list_app:index' %}">Click here</a> to go back to the main page.
    </p>
    {% endif %}
</div>
</body>
</html>